.searchbar {
  height: 5.5rem;
  width: 76rem;
  display: flex;
  flex-direction: row;

  input {
    height: 5.5rem;
    width: 76rem;
    border: solid 1px #7d3d92;
    border-radius: 15px;
    padding: 10px;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 300;

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: relative;
    align-self: center;
    right: 6%;
    cursor: pointer;
  }
}
