.modal_addadress {
  background-color: white;
  width: 55rem;
  height: 70rem;
  outline: none;
  border: 1px solid #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 4rem;
}

.overlay_modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;

  h1 {
    font-size: 2.4rem;
    font-weight: 400;
  }

  .close_button {
    cursor: pointer;
  }
}

.addadress {
  height: 52rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .input {
    p {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    input {
      width: 100%;
      height: 4rem;
      border: 1px solid #707070;
      border-radius: 5px;
      font-size: 1.6rem;
      padding: 0 1rem 0 1rem;
    }
  }

  .acessar {
    margin-top: 3rem;
    text-align: center;

    button {
      background: linear-gradient(135deg, #c56ce4, #803f96);
      color: #fff;
      font-size: 1.8rem;
      font-weight: 400;
      width: 100%;
      height: 4rem;
      border: none;
      border-radius: 5px;
    }
  }
}
